<footer>

    <div class="container">
        <div>
            <div class="fi-ft">
                <figure class="icon">
                    <img src="/logo.png" alt="">
                </figure>

                <p>2017-2023 Bark&Saw.</p>

                <div class="socials">
                    <figure class="icon">
                        <img src="/social media icon.png" alt="">
                    </figure>
                    <figure class="icon">
                        <img src="/social media icon-1.png" alt="">
                    </figure>
                    <figure class="icon">
                        <img src="/Whatsappspcoal.png" alt="">
                    </figure>
                </div>
            </div>

            <div class="fi-ft2">
                <div>
                    <h4>Contact us</h4>

                    <ul>
                        <li><a href="#">General Contact</a></li>
                        <li><a href="#">Contact Stores</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Support</h4>

                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div>
                    <h4>About us</h4>

                    <ul>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Bark&Saw furniture catalogue</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="/script.js"></script>
</body>
</html>