<html>
    <head>
    <link rel="stylesheet" href="/main.css">

    </head>
    <body>

        <section class="container">

            <div class="shopping">
                <div>
                    <h4>Shpping options</h4>
                </div>
    
                <div class="options">
                    <div class="cate">
                        <label for="Category">Category</label>
                        <select name="" id="">
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                        </select>
                    </div>
    
                    <div class="cate">
                        <label for="Category">Price</label>
                        <select name="" id="">
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                        </select>
                    </div>
    
                    <div class="cate">
                        <label for="Category">Color</label>
                        <select name="" id="">
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                        </select>
                    </div>
    
                    <div class="cate">
                        <label for="Category">Size</label>
                        <select name="" id="">
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                            <option value="">Choose</option>
                        </select>
                    </div>
                </div>
            </div>

        </section>
        
    </body>
</html>