<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <main>
        <section class="dashboard">
            <section class="sidenav">

                <div class="opener">
                    <figure>
                        <img src="/logo.png" class="logo" alt="">
                    </figure>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
    
                <div class="navmenu">
                    
                    <ul>
                        <li> 
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <a href=""> Dashboard</a>
                        </li>

                        <li> 
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <a href=""> Orders</a>
                        </li>

                        <li> 
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href=""> Customers</a>
                        </li>

                        <li> 
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <a href=""> Products</a>
                        </li>

                        <li> 
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href=""> Message</a>
                        </li>

                        <li> 
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <a href=""> Analytics</a>
                        </li>

                        <li> 
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <a href=""> Help Center</a>
                        </li>

                        <li> 
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <a href=""> Settings</a>
                        </li>
                    </ul>
    
                </div>
    
                <div class="admin">

                    <div class="prof-det">
                        <img class="profile-img" src="/Rectangle 20.png" alt="">
                        <p>Emmanuel</p>
                    </div>

                    <button class="button1">Logout</button>
    
                </div>
    
            </section>
    
            <section class="dsh">

                <div class="dash-top">
                    <input type="text" class="input-field" name="" id="" placeholder="search">

                    <div class="top-left">
                        <i class="fa fa-bell icons"  aria-hidden="true"></i>
                        <div>
                            <img src="/Rectangle 20.png" class="profile-img" alt="">
                        </div>
                        <p>Emmanuel</p>
                    </div>
                </div>

                <div class="admin-details">
                    <h3>Welcome Emmanuel</h3> 
                    <p>Stay up to date with your store’s current status</p>
                </div>

                <div class="dashboard-contents">
                    <div class="overview-card">
                        <div class="over-det">
                            <div class="overview-ico">
                                <i class="fa  fa-envelope" aria-hidden="true"></i>
                            </div>
    
                            <div>
                                <p>Daily Orders </p>
                                <p>0</p>
                            </div>
                        </div>

                        <div>
                            <h4> <span>+25% </span> from last month(100)</h4>
                        </div>
                    </div>

                    <div class="overview-card bg2">
                        <div class="over-det">
                            <div class="overview-ico">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
    
                            <div>
                                <p>Daily Orders </p>
                                <p>0</p>
                            </div>
                        </div>

                        <div>
                            <h4> <span>+25% </span> from last month(100)</h4>
                        </div>
                    </div>

                    <div class="overview-card bg">
                        <div class="over-det">
                            <div class="overview-ico">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
    
                            <div>
                                <p>Daily Orders </p>
                                <p>0</p>
                            </div>
                        </div>

                        <div>
                            <h4> <span>+25% </span> from last month(100)</h4>
                        </div>
                    </div>

                    
                </div>
    
            </section>
        </section>
    </main>

</body>
</html>
