    <%- include("includes/header") %>
 
    <main>

    <section class="container">
        
        <div>
            <figure>
                <img src="/Rectangle 23headerimg.png" alt="">
            </figure>
        </div>
    </section>


    <section class="container sect">
      
            <h2>Why Choose Us</h2>
            <p>Bringing you the best of contemporary furniture</p>
 
    </section>

    <section class="container">
       <div class="two-col">
        <div >



            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg.png" alt="">
                </figure>

                <h3>Shop in store & Online</h3>
                <p>Visit our galleries or shop from home</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-2.png" alt="">
                </figure>

                <h3>Nationwide delivery</h3>
                <p>to your door wherever you are</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-1.png" alt="">
                </figure>

                <h3>Compare other products</h3>
                <p>Always check for more products.</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-3.png" alt="">
                </figure>

                <h3>Unique selection</h3>
                <p>Sophisticated styles for modern tastes</p>
            </div>

        </div>

        <div>

            <figure>
                <img src="/Why chose us.png" alt="">
            </figure>
            
        </div>
       </div>
    </section>

   <section class="container sect">
    <h2>Explore Our Furniture Store Online</h2>

   </section>
   

    <section class="container">

        <div>

            <div class="prd-list">
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-3.png" alt="">
                    </figure>
    
                    <p class="color1">Kurv chair</p>
                    <h4 class="mg-tb">N40,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    
                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-4.png" alt="">
                    </figure>
    
                    <p class="color1">Bar Stool</p>
                    <h4 class="mg-tb">N60,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>

 
                    </div>
                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-5.png" alt="">
                    </figure>
    
                    <p class="color1">Poufs</p>
                    <h4 class="mg-tb">N70,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>

                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
    
                </div>

                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92.png" alt="">
                    </figure>
    
                    <p class="color1">KOutdoor teak dinning set</p>
                    <h4 class="mg-tb">N250,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>

                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-1.png" alt="">
                    </figure>
    
                    <p class="color1">Eames Dinning setsl</p>
                    <h4 class="mg-tb">N160,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>

                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
                    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-5.png" alt="">
                    </figure>
    
                    <p class="color1">Coffee tables</p>
                    <h4 class="mg-tb">N180,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>

                    <div class="cart">
                        <button class="button1">Add to cart</button>
                    </div>
    
                </div>

            </div>
        </div>

    </section>


    <section class="container sect">
        <h2 class="mg-tb">Our Client Reviews</h2>

    </section>



    <section class="container">

    </section>
    <section class="container">

        <div class="review">
            
            <button id="left" class="btn1">
                <i class="fa fa-3x  fa-arrow-circle-left" ></i>
            </button>
            <button id="right" class="btn2">
                <i class="fa fa-3x  fa-arrow-circle-right" ></i>
            </button>

            <div class="review-container">

                <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20ssss.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h4>
                                This is super legit, he delivered mine, and I love them
                            </h4>
                        </div>
                </div>
                <div class="review-cards">
                        <div>
                            <figure>
                                <img src="Rectangle 20ssss-1.png" alt="">
                            </figure>
                        </div>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Eseosaoflagos</p>
                            <h4>
                                Ordered from him late last night and had it delivered and installed this morning.Thank you for the great service
                            </h4>
                        </div>
                </div>



                <div class="review-cards">
                    <div>
                        <figure>
                            <img class="rev-img" src="Rectangle 20ssss-2.png" alt="">
                        </figure>
                    </div>

                <div class="review-details">
                    <div class="review-ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>

                    <p>Demetrius</p>
                    <h4>
                        This is super legit, he delivered mine, and I love them
                    </h4>
                </div>
                </div>
                <div class="review-cards">
                    <figure>
                        <img src="Rectangle 20ssss-3.png" alt="">
                    </figure>
    
                    <div class="review-details">
                        <div class="review-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <p>Demetrius</p>
                        <h4>
                            This is super legit, he delivered mine, and I love them
                        </h4>
                    </div>
                    </div>
                    <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20ssss-4.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h4>
                                This is super legit, he delivered mine, and I love them
                            </h4>
                        </div>
                        </div>
                        <div class="review-cards">
                            <figure>
                                <img src="Rectangle 20ssss-5.png" alt="">
                            </figure>
            
                            <div class="review-details">
                                <div class="review-ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
            
                                <p>Demetrius</p>
                                <h4>
                                    This is super legit, he delivered mine, and I love them
                                </h4>
                            </div>
                            </div>
        </div>  
           
        </div>

    </section>

    <section class="container sect">
        <h2>Frequently Asked Questions</h2>

    </section>


    <section class="container">

        <div class="faq-container">
            <div class="FAQ">
                <div class="faq-q">
                    <div class="question">
                        <h4>Do you deliver all over Nigeria?</h4>
                    <i class="fa  fa-arrow-down" ></i>
                    </div>
                
                    <div class="answer">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A maxime accusamus tempore cumque nobis quas exercitationem voluptatibus, culpa voluptate molestiae nam rem eius dignissimos, officiis magnam cum quod quidem quibusdam.</p>
                    </div>
                </div>
            </div>

            <div class="FAQ">
                <div class="faq-q">
                    <div class="question">
                        <h4>Can I order if I live outside of delivery state?</h4>
                    <i class="fa  fa-arrow-down" ></i>
                    </div>
                
                    <div class="answer">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A maxime accusamus tempore cumque nobis quas exercitationem voluptatibus, culpa voluptate molestiae nam rem eius dignissimos, officiis magnam cum quod quidem quibusdam.</p>
                    </div>
                </div>
            </div>

            <div class="FAQ">
                <div class="faq-q">
                    <div class="question">
                        <h4>Can I order if I live outside of delivery state?</h4>
                    <i class="fa  fa-arrow-down" ></i>
                    </div>
                
                    <div class="answer">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A maxime accusamus tempore cumque nobis quas exercitationem voluptatibus, culpa voluptate molestiae nam rem eius dignissimos, officiis magnam cum quod quidem quibusdam.</p>
                    </div>
                </div>
            </div>

            <div class="FAQ">
                <div class="faq-q">
                    <div class="question">
                        <h4>Do you deliver all over Nigeria?</h4>
                    <i class="fa  fa-arrow-down" ></i>
                    </div>
                
                    <div class="answer">
                        <p>How long does it takes to deliver?</p>
                    </div>
                </div>
            </div>
            
        </div>

    </section>


    </main>

<%- include("includes/footer") %>