<%- include("includes/header") %>

<section class="container">
<h3>My Shopping Cart</h3>
</section>

<section class="container">

    <div class="shp__list">

        <div class="shpping__det">
            <figure class="shpping__img">
                <img src="/Rectangle 92.png" alt="">
            </figure>

            <div class="shp">
                <h3>Eames  uphosltered Dinning Set</h3>
                <div>
                    <label for="">Quantity</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                    </select>
                </div>
                <h4>N250,000</h4>
            </div>

            <button class="button2">X</button>

            
        </div>

        <div class="shpping__det">
            <figure class="shpping__img">
                <img src="/Rectangle 92.png" alt="">
            </figure>

            <div class="shp">
                <h3>Eames  uphosltered Dinning Set</h3>
                <div>
                    <label for="">Quantity</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                    </select>
                </div>
                <h4>N250,000</h4>
            </div>

            <button class="button2">X</button>

            
        </div>

        <div class="shpping__det">
            <figure class="shpping__img">
                <img src="/Rectangle 92.png" alt="">
            </figure>

            <div class="shp">
                <h3>Eames  uphosltered Dinning Set</h3>
                <div>
                    <label for="">Quantity</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                    </select>
                </div>
                <h4>N250,000</h4>
            </div>

            <button class="button2">X</button>

            
        </div>

        <div class="shpping__det">
            <figure class="shpping__img">
                <img src="/Rectangle 92.png" alt="">
            </figure>

            <div class="shp">
                <h3>Eames  uphosltered Dinning Set</h3>
                <div>
                    <label for="">Quantity</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                    </select>
                </div>
                <h4>N250,000</h4>
            </div>

            <button class="button2">X</button>

            
        </div>

        <div class="shpping__det">
            <figure class="shpping__img">
                <img src="/Rectangle 92.png" alt="">
            </figure>

            <div class="shp">
                <h3>Eames  uphosltered Dinning Set</h3>
                <div>
                    <label for="">Quantity</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                    </select>
                </div>
                <h4>N250,000</h4>
            </div>

            <button class="button2">X</button>

            
        </div>


        <div class="shpping__det">
            <button class="button1">Continue Shopping</button>

            <div>
                <h4>Total Item</h4>
                <h3>10</h3>
            </div>

            <div>
                <h4>Grand Total</h4>
                <h3>100,000</h3>
            </div>
        </div>

    </div>

</section>

<%- include("includes/footer") %>